* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {

    /*colors*/
    --orange: #ff6900;
    --red: #ff0000;
    --green: #008000;
    --grey: #ebebeb;
    --dark: #1a1a1a;
    --light: #ffffff;

    /*font-wheight*/
    --font-light: 300;
    --font-small: 400;
    --font-medium: 600;
    --font-large: 900;

}

.flex-box {
    display: flex;
}


.clearfix::after {
    content: "";
    clear: both;
    display: block;
}


body {
    color: white;
    font-family: 'Mulish', sans-serif;
}


/*font-style*/
h3,
h4,
h5 {
    font-weight: var(--font-medium);
}

p {
    font-weight: var(--font-light);
}



span {
    font-weight: var(--font-light);
}


ul {
    list-style: none;
    font-weight: var(--font-medium);
}


/*header/navbar*/
header {
    background-color: var(--orange);
    width: 100%;
    position: fixed;
    z-index: 1000;
}

.navbar {
    width: 80%;
    margin: 0 auto;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
}


.menu ul li {
    float: left;
    margin-right: 8px;
    cursor: pointer;
}

.logo {
    width: 140px;
    transform: translateX(-50%);
}


.logo img {
    width: 100%;
}



.icons i {
    margin-right: 5px;
    cursor: pointer;
}



/*card-container*/
.container {
    width: 80%;
    margin: 0 auto;
    padding: 120px 0px;
    flex-flow: row wrap;
    justify-content: center;
}



.card-box {
    width: calc((100% - 45px) / 3);
    min-width: 240px;
    color: var(--dark);
    margin-right: 15px;
    margin-bottom: 45px;
}


.card {
    position: relative;
    transition: all 0.5s ease-in-out;
    -webkit-transition: opacity .5s ease-out;
}



.card img {
    width: 100%;
}


/*card-animation*/
.hover-image {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    transition: opacity .2s ease-in-out;
}


.card:hover .hover-image {
    display: block;
    opacity: 1;
}




.banner {
    position: absolute;
    bottom: 60px;
}


.banner-item {
    padding: 3px 10px;
    font-weight: var(--font-medium);
    color: var(--light);
}



/*banner-item-style*/
.sold {
    background-color: var(--red);
}


.description {
    background-color: var(--green);
}


/*heart-animation*/
.heart {
    position: absolute;
    top: 10px;
    right: 0;
    background-color: var(--light);
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    cursor: pointer;
}


.heart:hover {
    color: var(--red);
}


/*card-description*/
.price {
    color: var(--red);
}


.text-line {
    text-decoration: line-through;
    color: var(--dark);
}




/*footer*/
.footer {
    width: 100%;
    background-color: var(--dark);
}


.size {
    padding: 30px;
    justify-content: space-between;
    align-items: center;
}



.box-social-icons {
    text-align: left;
}


.social-icons i {
    font-size: 24px;
    margin-top: 5px;
    margin-right: 5px;
    cursor: pointer;
}