* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --orange: #ff6900;
    --red: #ff0000;
    --green: #008000;
    --grey: #ebebeb;
    --dark: #1a1a1a;
}

.flex-box {
    display: flex;
}


.clearfix::after {
    content: "";
    clear: both;
    display: block;
}


body {
    color: white;
}


ul {
    list-style: none;
}


/*header/navbar*/
header {
    background-color: var(--orange);
    width: 100%;
    position: fixed;
    z-index: 1000;
}

.navbar {
    width: 80%;
    margin: 0 auto;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
}


.menu ul li {
    float: left;
    margin-right: 8px;
    cursor: pointer;
}

.logo {
    width: 140px;
}


.logo img {
    width: 100%;
}



.icons i {
    margin-right: 5px;
    cursor: pointer;
}




.container {
    width: 80%;
    margin: 0 auto;
    padding: 120px 0px;
    flex-flow: row wrap;
    justify-content: center;
}



.card-box {
    width: calc((100% - 45px) / 3);
    min-width: 240px;
    color: #1a1a1a;
    margin-right: 15px;
    margin-bottom: 45px;
}


.card {
    position: relative;
}



.card img {
    width: 100%;
}



.hover-image {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}


.card:hover .hover-image {
    display: block;
}




.banner {
    position: absolute;
    bottom: 60px;
}


.banner-item {
    padding: 3px 10px;
}


.sold {
    background-color: var(--red);
}


.description {
    background-color: var(--green);
}


.heart {
    position: absolute;
    top: 10px;
    right: 0;
    background-color: #ffff;
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    cursor: pointer;
}


.heart:hover {
    color: var(--red);
}



.price {
    color: var(--red);
}


.text-line {
    text-decoration: line-through;
    color: var(--dark);
}





.footer {
    width: 100%;
    background-color: var(--dark);
}


.size {
    padding: 30px;
    justify-content: space-between;
    align-items: center;
}



.box-social-icons {
    text-align: left;
}


.social-icons i {
    font-size: 24px;
    margin-top: 5px;
    margin-right: 5px;
    cursor: pointer;
}